ESPO_BASE_URL=xxx
ESPO_API_KEY= xxx
ESPO_API_PREFIX=xxx
# Multiple entities (comma-separated)
ESPO_ENTITIES=xxx,xxx

# Dynamic API base names (comma-separated)
API_BASE_NAMES=api,xxx

# CORS configuration (comma-separated for multiple origins)
CORS_ORIGIN=http://localhost:3000,xxx

